@import 'styles/theme';

.monkeyOutput {

  .actions {
    margin: 20px 0;
    text-align: center;
  }
  .awakeButton {
    display: inline-block;
  }

  .monkeyEssay {
    .highlight {
      background: $terminal-highlight-background;
    }
  }
}
