@import 'styles/theme';

.monkeyOutput {

  .actions {
    margin: $default-margin 0;
    text-align: center;
  }
  .awakeButton {
    display: inline-block;
  }

  .monkeyEssay {
    margin: $default-margin 0;
    white-space: pre-wrap;
    word-break: break-all;
    .highlight {
      background: $terminal-highlight-background;
    }
  }
}
