//font
$font-family: 'MajorMonoDisplay-Regular';
$font-size: 18px;

// spacing
$default-margin: 30px;

// screen
$screen-border-radius: 30px;

// scanline
$scanline-background: linear-gradient(to bottom, transparent 0%, rgb(255, 250, 250) 50%, rgb(100, 255, 100) 50%, transparent 100%);

// interlace
$interlace-background: linear-gradient(#666 50%, #000 50%);
$interlace-size: 5px;

// terminal
$terminal-background: #000;
$terminal-color: #0f6;
$terminal-font-family: $font-family;
$terminal-font-size: $font-size;
$terminal-line-height: 1.5;
$terminal-text-shadow: lighten($terminal-color, 20%);
$terminal-transition: .5s;
$terminal-highlight-background: darken($terminal-color, 30%);